<template>
  <div :id="id"
    :class="[$style.toast, $style[type]]"
    @mouseenter="stop"
    @mouseleave="start"
    @click="close">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'ToastItem',

  props: {
    id: {
      type: [String, Number],
      required: true,
    },

    message: {
      type: [String, Number],
      required: true,
    },

    buttons: {
      type: Array,
      default: () => ([]),
    },

    duration: {
      type: Number,
      default: 5000,
    },

    type: {
      type: String,
      default: '',
      validator(value) {
        return ['success', 'error', 'info'].indexOf(value) !== -1;
      },
    },
  },

  data() {
    return {
      startedAt: 0,
      remaining: this.duration,
    };
  },

  mounted() {
    this.start();
  },

  methods: {
    start() {
      if (!this.duration) {
        return;
      }

      this.startedAt = Date.now();

      this.durationTimeoutId = window.setTimeout(() => {
        this.close();
      }, this.remaining);
    },

    stop() {
      window.clearTimeout(this.durationTimeoutId);
      this.remaining -= Date.now() - this.startedAt;
    },

    close() {
      this.stop();
      this.$toast.close(this.id);
    },
  },
};
</script>

<style lang="scss"
  module>
$toast-success-color: #06c6ad !default;
$toast-error-color: #db4e40 !default;
$toast-info-color: #3F51B5 !default;

.toast {
  background-color: #363636;
  border-radius: 4px;
  box-shadow: 0 0 rem-calc(76px) 0 rgba(46, 48, 64, 0.21);
  color: #ffffff;
  overflow: auto;
  padding: rem-calc(6px 20px);
}

.success {
  background: $toast-success-color;
  box-shadow: 0 0 rem-calc(20px) 0 rgba($toast-success-color, 0.4);
}

.error {
  background: $toast-error-color;
  box-shadow: 0 0 rem-calc(20px) 0 rgba($toast-error-color, 0.4);
}

.info {
  background: $toast-info-color;
  box-shadow: 0 0 rem-calc(20px) 0 rgba($toast-info-color, 0.4);
}
</style>
